:root {
    --primary-text-color: #212121;
    --title-text-color: #2196F3;
    --accent-text-color: #757575;
    --primary-bck-color: #F5F5F5;
}
/*Стилі для сторінки index.html*/
.page {
    background-color: var(--primary-bck-color);
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    }
/*Logo link color*/
.logo-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    color: #2196F3;
}
.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14; 
    color: #000000;
}
/*Прибрати всі списки*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/*Site nav color*/
.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}
.site-nav .link.current {
color: var(--title-text-color);
}
.info-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.info-nav a:hover,
.info-nav a:focus {
color: var(--title-text-color);
}
/*Hero*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2F303A;
}
.section-title {
    color: var(--primary-text-color);
}
/*Усі параграфи*/
.feature-list .title {
    color: var(--accent-text-color);
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    background-color: var(--primary-bck-color);
    cursor: pointer;
}
.button.primary {
    color: var(--primary-bck-color);
    background-color: var(--title-text-color);
}
.button.primary:hover{
    background-color: var(--title-text-color);
}
/*Footer*/
.contact-title {
    color: rgba(255, 255, 255, 0.6);
}

/*Колір основного тексту сторінки #212121;*/


/*Другорядний колір тексту на сторінці #757575;*/


/*Білий колір #FFFFFF;*/


/*Акцент #2196F3;*/


/*Другорядний колір Футер сайту rgba(255, 255, 255, 0.6);*/

/*Стилі для сторінки portfolio.html*/
