:root {
    --primary-text-color: #212121;
    --title-text-color: #2196F3;
    --accent-text-color: #757575;
    --primary-bck-color: #F5F5F5;
}
/*Стилі для сторінки index.html*/
.page {
    background-color: var(--primary-bck-color);
    color: var(--primary-text-color);
    }
/*Logo link color*/
.logo-link {
    color: #2196F3;
}
.logo-header {
    color: #000000;
}
/*Прибрати всі списки*/
ul {
    list-style: none;
}
/*Site nav color*/
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}
.site-nav .link.current {
color: var(--title-text-color);
}
.info-nav a {
    color: var(--primary-text-color);
}
.info-nav a:hover,
.info-nav a:focus {
color: var(--title-text-color);
}
/*Hero*/
.hero-title {
    color: #FFFFFF;
}
/*Section,section-title*/
.section-title {
    color: var(--primary-text-color);
}
/*Усі параграфи*/
.feature-list .title {
    color: var(--accent-text-color);
}
.button {
    color: var(--primary-text-color);
    background-color: var(--primary-bck-color);
}
.button.primary {
    color: var(--primary-bck-color);
    background-color: var(--title-text-color);
}
/*Footer*/
.contact-title {
    color: rgba(255, 255, 255, 0.6);
}

/*Колір основного тексту сторінки #212121;*/


/*Другорядний колір тексту на сторінці #757575;*/


/*Білий колір #FFFFFF;*/


/*Акцент #2196F3;*/


/*Другорядний колір Футер сайту rgba(255, 255, 255, 0.6);*/

/*Стилі для сторінки portfolio.html*/